
@media screen and (min-width:577px){
    .footer .subscription .input-subscription{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
}

@media screen and (max-width:640px){
    .sm-100{
        width:100% !important; 
    }

    .sm-50{
        width: 50% !important;
    }

    .sm-33{
        width: 33.333% !important;
    }

    .sm-25{
        width: 25% !important;
    }

    .sm-20{
        width: 20% !important;
    }
}
/* sm */
@media screen and (min-width:640px){
    .sm-100{
        width:100% !important;
    }

    .sm-50{
        width: 50% !important;
    }

    .sm-33{
        width: 33.333% !important;
    }

    .sm-25{
        width: 25% !important;
    }

    .sm-20{
        width: 20% !important;
    }


}

@media screen and (max-width:767px) {
    .masonry {
        display: grid;
        grid-template-columns: 1fr; /* One column */
        grid-gap: 10px;
    }

    /* Ensure the order of items is maintained */
    .masonry-item:nth-child(1) { order: 1; }
    .masonry-item:nth-child(2) { order: 3; }
    .masonry-item:nth-child(3) { order: 5; }
    .masonry-item:nth-child(4) { order: 4; }
    .masonry-item:nth-child(5) { order: 2; }
    .masonry-item:nth-child(6) { order: 6; }
    .masonry-item:nth-child(7) { order: 7; }

}
/* md */
@media screen and (min-width:768px){
    .md-100{
        width:100% !important;
    }

    .md-50{
        width: 50% !important;
    }

    .md-33{
        width: 33.333% !important;
    }

    .md-25{
        width: 25% !important;
    }

    .md-20{
        width: 20% !important;
    }

    .chefs .cards{
        flex-direction: row;
        column-gap: 20px;
    }

    .chefs .cards .item{
        width: calc((100% - 20px)/2);
    }

    .masonry {
        column-count: 2; /* Number of columns */
        column-gap: 10px; /* Gap between columns */
        width: 100%; /* Adjust as per requirement */
        
    }

    .contactus .contact-info {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
    }
    .contactus .info-item{
        width: calc((100% - 10px*2) /2);
    }

    .footer .container {
        flex-direction: row;
        column-gap: 30px;
    }
    .footer .container .about, 
    .footer .container .getintouch{
        width: calc((100% - 30px)/2);
        order: 1;
    }
    .footer .container .subscription{
        width: 100%;
        order: 2;
    }
}

@media screen and (min-width:992px){
   

    .masonry {
        column-count: 3; /* Number of columns */
        column-gap: 10px; /* Gap between columns */
        width: 100%; /* Adjust as per requirement */
    }
}

@media screen and (max-width:1023px){
    .navbar .nav-menu ul {
        padding-top: 80px;
        padding-left: 30px;
        
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: absolute;
        background-color: white;
        width: 320px;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
      
      }
}

/* lg */
@media screen and (min-width:1024px){

    .lg-100{
        width:100% !important;
    }

    .lg-50{
        width: 50% !important;
    }

    .lg-33{
        width: 33.333% !important;
    }

    .lg-25{
        width: 25% !important;
    }

    .lg-20{
        width: 20% !important;
    }

    .navbar .nav-menu{
        display: block;
    }
    
    .navbar .nav-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 20px;
      }


    .navbar .container .nav-icons .nav-bars{
        display: none !important;
    }

    .home{
        height: 100vh;
    }

    .home .container{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .home .container .content{
        text-align: left;
    }

    .home .container .coverimg, 
    .home .container .content{
        width: 40%;
    }

    .home h2{
        margin: 0;
    }

    .home .btn1{
        border-radius: 0 20px 20px 20px;
    }

    .chefs .cards{
        flex-direction: row;
        column-gap: 20px;
    }
    .chefs .cards .item{
        width: calc((100% - (20px * 2))/3);
    }

    .contactus .contact-form .input-group{
        flex-direction: row;
        column-gap: 20px;
    }
    .contactus .contact-form .input-group input{
        width: calc((100% - 20px)/2);
    }

}


@media screen and (min-width:1200px){




    .footer .container {
        flex-direction: row;
        column-gap: 20px;
    }

    .footer .container .about,
    .footer .container .subscription,
    .footer .container .getintouch{
        width: calc((100% - 20px*2)/4);
        order: 0;
    }

    .footer .container .subscription{
        width: calc((100% - 20px*2)/2);
        order: 0;
    }
}
/* xlg */
@media screen and (min-width:1280px){

    .xlg-100{
        width:100% !important;
    }

    .xlg-50{
        width: 50% !important;
    }

    .xlg-33{
        width: 33.333% !important;
    }

    .xlg-25{
        width: 25% !important;
    }

    .xlg-20{
        width: 20% !important;
    }
    
}